main.page.page--documents {
	margin: 0 auto;

	div.container {
		max-width: 1512px;
		margin: 0 auto;
		padding: 0 18px;

		@include breakpoint('medium') {
			padding: 0 64px;
		}

		h1.page-heading {
			display: flex;
			text-align: left;
			color: stencilColor('c-primary-blue-light');
			font-family: stencilFontFamily('gothic');
			font-size: 32px;
			font-style: normal;
			font-weight: 800;
			text-transform: uppercase;
			margin: 20px 0 60px 0;
		}

		div.documentSearch {
			fieldset {
				border-radius: 30px;
				border-radius: 100px;
				border: 1px solid stencilColor('c-tint-dark-blue');
				background: stencilColor('c-light-grey');
				display: flex;
				align-items: center;
				margin: 0;
				padding: 12px;
				min-height: 48px;

				button {
					padding: 0;
					height: auto;
					width: auto;
					margin-right: 8px;
					display: flex;
					align-items: center;
				}

				input {
					padding: 0;
					color: stencilColor('c-neutral-grey');
					background-color: transparent;
					border: initial;
					height: 100%;
					font-family: stencilFontFamily('body-font');
					font-size: 15px;
					font-style: normal;
					font-weight: 400;
					width: 100%;
				}
			}
		}

		div.documentBlock {
			margin-top: 60px;
			transition: all 0.35s ease-in-out;

			ul.documentList {
				overflow: hidden;
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				margin: 0 -10px;

				li {
					display: none;
					&.documentItem {
						width: 100%;
						padding: 10px;
						@include breakpoint('small') {
							width: 50%;
						}
						@include breakpoint('medium') {
							width: 33.33%;
						}
						@include breakpoint('large') {
							width: 25%;
						}
						div.documentCard {
							padding: 20px;
							display: flex;
							flex-direction: column;
							height: 100%;
							background-color: stencilColor('color-white');
							border: 2px solid stencilColor('color-offWhite');
							a {
								text-decoration: none;
							}
							div.headerBlock {
								flex-grow: 1;
								display: flex;
								align-items: center;

								div.icon {
									height: 100%;
									width: auto;
									margin-right: 10px;

									svg {
										height: 24px;
										width: 24px;
									}
								}
								div.title {
									h3 {
										color: stencilColor('c-primary-black');
										font-family: stencilFontFamily('body-font');
										font-size: 15px;
										font-style: normal;
										font-weight: 400;
									}
									span.revision {
										color: stencilColor('c-neutral-grey');
										font-family: stencilFontFamily('body-font');
										font-size: 12px;
										font-style: normal;
										font-weight: 400;
									}
								}
							}
							div.footerBlock {
								display: flex;
								margin-top: 40px;

								button {
									padding: 4px 12px;
									background-color: stencilColor('color-textBase');
									color: stencilColor('color-white');
									border-radius: 1000px;
									font-family: stencilFontFamily('body-font');
									font-size: 14px;
									font-style: normal;
									font-weight: 600;

									& + button {
										color: stencilColor('c-primary-black');
										background-color: stencilColor('color-offWhite');
										margin-left: 4px;
									}
								}
							}
						}
					}
					&.brochure {
						width: 100%;
						padding: 10px;

						@include breakpoint('small') {
							width: 50%;
						}

						@include breakpoint('medium') {
							width: 33.33%;
						}

						@include breakpoint('large') {
							width: 25%;
						}

						a.brochure-action {
							background-color: stencilColor('color-white');
							border: 2px solid stencilColor('color-offWhite');
							display: flex;
							text-decoration: initial;
							overflow: hidden;

							div.brochure-card {
								padding: 0;
								width: 100%;

								div.brochure-container {
									padding: 0;
									margin: 0;
									max-width: initial;
									display: flex;
									width: 100%;

									div.brochure-image {
										min-width: 110px;
										height: 100%;
										min-height: 169px;
										position: relative;

										img {
											position: absolute;
											top: 50%;
											left: 50%;
											transform: translate(-50%, -50%);
											object-fit: cover;
											height: 100%;
											width: 100%;
										}

										&.loading {
											background: stencilColor('c-tint-dark-blue');

											img {
												object-fit: contain;
												height: 75%;
												width: 75%;
											}
										}
									}
									div.brochure-content {
										width: auto;
										flex-grow: 1;
										padding: 20px;
										display: flex;
										flex-direction: column;

										div.brochure-header {
											align-items: flex-start;
											flex-grow: 1;

											div.title {
												color: stencilColor('c-primary-black');
												font-family: stencilFontFamily('body-font');
												font-size: 15px;
												font-style: normal;
												font-weight: 400;
												display: flex;
												align-items: center;

												svg {
													margin-right: 10px;
													min-height: 24px;
													min-width: 24px;
													display: inline;
												}
											}

											p.label {
												margin: 0 0 0 34px;
												color: stencilColor('c-neutral-grey');
												font-family: stencilFontFamily('body-font');
												font-size: 12px;
												font-style: normal;
												font-weight: 400;
												display: block;
											}
										}
										div.brochure-footer {
											button {
												color: stencilColor('color-textBase');
												font-family: stencilFontFamily('body-font');
												font-size: 14px;
												font-style: normal;
												font-weight: 400;
												text-decoration: underline;
											}
										}
									}
								}
							}
						}
					}
					&.active {
						display: block;
					}
				}
			}
			div.document-pagination {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				padding: 0;
				margin-top: 40px;

				button.previous,
				button.next {
					height: 44px;
					width: 44px;
					border-radius: 50%;
					background-color: stencilColor('color-offWhite');
					position: relative;
					display: none;

					svg {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}

					&.visible {
						display: block;
					}

					&.disabled {
						pointer-events: none;
						opacity: 0.2;
					}
				}

				button.previous {
					svg {
						transform: translate(-50%, -50%) rotate(180deg);
					}
				}

				ul.pagination-list {
					margin: 0 8px;
					display: flex;
					align-items: center;

					li.pagination-item {
						margin: 0;

						button {
							border-radius: initial;
							min-width: 28px;
							margin: 0 8px;
							color: stencilColor('c-primary-black');
							font-family: stencilFontFamily('body-font');
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							padding-bottom: 8px;
							border-bottom: 2px solid stencilColor('c-neutral-grey');
						}

						&.active button {
							border-bottom: 2px solid stencilColor('c-primary-blue-light');
						}
					}

					&.truncate {
						li.pagination-item {
							display: none;
							&.active {
								display: block;

								& + li {
									display: block;

									& + li {
										display: block;
									}
								}
							}

							&:last-child {
								display: block;
								padding-left: 46px;
								position: relative;

								&::before {
									content: '...';
									position: absolute;
									left: 0;
									top: 50%;
									transform: translate(0, -50%);
									height: 100%;
									width: 46px;
									display: flex;
									justify-content: center;
									align-items: center;
									color: stencilColor('c-primary-black');
									font-family: stencilFontFamily('body-font');
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
								}
							}
						}

						&.ellipses {
							li.pagination-item {
								&:nth-last-child(-n + 5) {
									display: block;
								}

								&:last-child {
									display: block;
									padding: initial;

									&::before {
										display: none;
									}
								}
							}
						}
					}
				}
			}
			&.has-search {
				div.document-pagination {
					display: none;
				}
				ul.documentList {
					li {
						display: none;

						&.match,
						&.no-results {
							display: block;
						}

						&.no-results {
							margin-left: 1.5rem;

							button.clear-search {
								margin: 0 0 0 1rem;
								padding: 0.5rem 1.5rem;
								border-radius: 30px;
								color: stencilColor('color-white');
								background-color: stencilColor('c-primary-blue');
							}
						}
					}
				}
			}
			&.processing {
				position: relative;
				max-height: 600px;
				min-height: 356px;
				overflow: hidden;

				&::before {
					content: '';
					z-index: 999;
					height: 100%;
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: rgba(255, 255, 255, 0.8);
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Ccircle fill='%2313997C' stroke='%2313997C' stroke-width='2' r='15' cx='40' cy='65'%3E%3Canimate attributeName='cy' calcMode='spline' dur='2' values='65;135;65;' keySplines='.5 0 .5 1;.5 0 .5 1' repeatCount='indefinite' begin='-.4'%3E%3C/animate%3E%3C/circle%3E%3Ccircle fill='%2313997C' stroke='%2313997C' stroke-width='2' r='15' cx='100' cy='65'%3E%3Canimate attributeName='cy' calcMode='spline' dur='2' values='65;135;65;' keySplines='.5 0 .5 1;.5 0 .5 1' repeatCount='indefinite' begin='-.2'%3E%3C/animate%3E%3C/circle%3E%3Ccircle fill='%2313997C' stroke='%2313997C' stroke-width='2' r='15' cx='160' cy='65'%3E%3Canimate attributeName='cy' calcMode='spline' dur='2' values='65;135;65;' keySplines='.5 0 .5 1;.5 0 .5 1' repeatCount='indefinite' begin='0'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E");
					backdrop-filter: blur(10px);
					background-size: 100px;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}
